<div class="container p-2 ">
  <h3>Cronograma de Pagos</h3>
  <div class="blanco mt-4 p-3 bg-white rounded-4 shadow">
    <div class="table-responsive table-responsive-lg table-responsive-sm table-responsive-md table-responsive-xl">
      <table class="table table-bordered text-center mt-2">
        <thead class="table-secondary">
          <tr>
            <th scope="col" class="header-text">Recibido</th>
            <th scope="col" class="header-text">Descripción</th>
            <th scope="col" class="header-text">Importe</th>
            <th scope="col" class="header-text">Vencimiento</th>
            <th scope="col" class="header-text">Estado</th>
            <th scope="col" class="header-text">Vencido</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01/01/2023</td>
            <td>Pago de servicios</td>
            <td>$100.00</td>
            <td>05/01/2023</td>
            <td>Pendiente</td>
            <td>No</td>
          </tr>
          <tr>
            <td>01/01/2023</td>
            <td>Pago de servicios</td>
            <td>$100.00</td>
            <td>05/01/2023</td>
            <td>Pendiente</td>
            <td>No</td>
          </tr>
          <tr>
            <td>01/01/2023</td>
            <td>Pago de servicios</td>
            <td>$100.00</td>
            <td>05/01/2023</td>
            <td>Pendiente</td>
            <td>No</td>
          </tr>
          <tr>
            <td>01/01/2023</td>
            <td>Pago de servicios</td>
            <td>$100.00</td>
            <td>05/01/2023</td>
            <td>Pendiente</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
