<div class="container p-3">
    <h3>Pagos Realizados</h3>
    <div class="blanco mt-4 p-3 bg-white rounded-4 shadow">
      <table class="table table-bordered text-center mt-2">
        <thead class="table-secondary">
          <tr>
            <th scope="col" class="header-text">Recibido</th> <!-- Agregar la clase "header-text" -->
            <th scope="col" class="header-text">Descripción</th> <!-- Agregar la clase "header-text" -->
            <th scope="col" class="header-text">Importe</th> <!-- Agregar la clase "header-text" -->
            <th scope="col" class="header-text">Vencimiento</th> <!-- Agregar la clase "header-text" -->
            <th scope="col" class="header-text">Estado</th> <!-- Agregar la clase "header-text" -->
            <th scope="col" class="header-text">Vencido</th> <!-- Agregar la clase "header-text" -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01/01/2023</td>
            <td>Pago de servicios</td>
            <td>$100.00</td>
            <td>05/01/2023</td>
            <td>Pendiente</td>
            <td>No</td>
          </tr>
          <tr>
            <td>01/01/2023</td>
            <td>Pago de servicios</td>
            <td>$100.00</td>
            <td>05/01/2023</td>
            <td>Pendiente</td>
            <td>No</td>
          </tr>
          <tr>
            <td>01/01/2023</td>
            <td>Pago de servicios</td>
            <td>$100.00</td>
            <td>05/01/2023</td>
            <td>Pendiente</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  